body {
	overflow: hidden;
	width: auto;
}

body > main {
	margin: 1rem auto;
	max-height: 95vh;
	overflow: auto;
	padding: 0 1rem;
	width: fit-content;
}

body > main > [caption]::before {
	background-color: var(--background-color);
	content: attr(caption);
	font-family: Arial, Helvetica, sans-serif;
	font-size: clamp(12px, 2vw, 24px);
	margin: 0.5em 0;
	position: sticky;
	text-decoration: underline;
	text-decoration-color: hsla(0, 0%, 50%, 0.502);
	text-transform: capitalize;
	text-underline-position: under;
	top: 0;
	z-index: 1;
}

body > main > section {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

input:is([type="email"], [type="number"], [type="password"], [type="text"]) {
	padding: 0.5em;
}

section.locked {
	position: relative;
	width: min-content;
}

section.locked::after {
	background-color: white;
	bottom: 0;
	color: red;
	content: "Access denied!";
	height: 100%;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.flex {
	display: flex;
	gap: 0.25rem;
}

.max-width > * {
	/* width: 100%; */
	width: -webkit-fill-available;
}

.fill-available {
	width: -webkit-fill-available
}

.track-actions {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

dialog {
	backdrop-filter: blur(0.4rem) brightness(80%);
	background-color: hsl(210deg 16% 14% / 60%);
	border-color: var(--accent-color);
	border-radius: 1em;
	padding: 2em 4em;
}

.error {
	color: red;
}

.loading {
	-webkit-user-select: none;
	color: transparent;
	position: relative;
	user-select: none;
}

.loading * {
	visibility: hidden;
}

.loading::after {
	animation: rotate 800ms cubic-bezier(.5, .5, .5, .5) infinite;
	background-color: transparent;
	border: 2px solid;
	border-color: black !important;
	border-bottom-color: transparent !important;
	border-radius: 50%;
	bottom: 0;
	content: "";
	height: 0;
	left: 0;
	margin: auto;
	padding: 0.25rem;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
}

.success {
	color: green;
}