@keyframes load {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.lite.icon {
    margin: 8px;
    width: 32px;
    height: 32px;
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 3;
    border-radius: 30px;
    overflow: hidden;
}

.lite.icon:hover {
    opacity: 0.4;
    cursor: pointer
}

.lite.overlay {
    font-family: Arial;
    font-size: 50px;
    color: white;
    position: fixed;
    display: none;
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 15vh 15vw 20vh;
    background: #00000080;
    box-shadow: inset 0px 5px 8px -10px #00000080;
    z-index: 2;
}

.lite.overlay input {
    height:auto;
    margin-right: 10px;
}

.lite.hacker-mode-text {
    font-family:monospace;
    line-height:20pt
}

#color {
    border:none;
    background-color:#ffffff00;
    font-size:13px;
    font-family:roboto_medium,Arial,Helvetica,sans-serif;
    color:#1b5264
}

#color:hover {
    cursor:pointer
}

.lite.overlay .lite-tabs {
    font-family:roboto_medium,Arial,Helvetica,sans-serif;
    margin-bottom: 10px;
    text-align: center;
    font-size:13px;
}

.lite.overlay .lite-tabs .tablinks {
    background: rgba(240,247,255,0.05);
    color: rgba(27,82,100,0.5);
    border-radius: 5px;
    padding: 5px 30px 5px 30px;
    border: none;
    position: relative;
    overflow: hidden;
}

.lite.overlay .lite-tabs .tablinks:hover {
    background:rgba(240,247,255,0.5);
    cursor:pointer
}

.lite.overlay .lite-notification {
    font-family:roboto_medium,Arial,Helvetica,sans-serif;
    display: inline-block;
}

.lite.overlay .lite-notification.new {
    color: #ff0000
}

.lite.overlay .lite-content {
    font-size:13px;
    padding: 5px
}

.lite.overlay .option {
    padding: 8px;
    border: none;
    overflow: hidden;
    position: relative;
    background-color: #ffffff00;
    font-size: 13px;
    font-family: roboto_medium, Arial, Helvetica, sans-serif;
    color: #1b5264
}

.lite.overlay .option:hover, .lite.overlay .option:hover * {
    background:rgba(240,247,255,0.5);
    border-radius: 8px;
    cursor:pointer
}

.lite.overlay .option input[type="checkbox"] {
    transform: scale(.85) rotate(90deg);
    transition: all .2s;
}

.lite.overlay .option input[type="checkbox"]:checked {
    transform: scale(1) rotate(0);
    transition: all .2s;
}

.lite.overlay .option input[type="color"] {
    -webkit-appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0;
    width: 13px;
    height: 13px;
    background: #000000
}

.lite.overlay .ripple::before, .lite.icon.ripple::before {
    top: calc(var(--clientY) * 1px);
	left: calc(var(--clientX) * 1px);
    opacity: 0;
    content: "";
    padding: 50%;
	position: absolute;
    transform: translate(-50%, -50%) scale(3);
	transition: transform 800ms, opacity 1s;
    border-radius: 50%;
    pointer-events: none;
    background-color: black;
}

.lite.overlay .ripple:not(.focus):active::before, .lite.icon.ripple:active::before,
.lite.overlay .ripple.focus:active:not(:focus-within)::before {
    transition: 0s;
    opacity: .5;
    transform: translate(-50%, -50%) scale(0);
}

.lite.overlay .option input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.lite.overlay .option input[type="color"]::-webkit-color-swatch {
    border: none;
}