@keyframes load {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #0e111499;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: #232f38;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #303b44;
}

::-webkit-scrollbar-thumb:active {
    background-color: #3d4953;
}

html {
    color: #fdfdfd;
    background-color: #1d2328;
    overflow-y: auto;
}

body {
    padding: 2px;
    width: 200px;
    transition: all .2s;
    padding-bottom: 10px;
    overflow-y: auto;
    max-height: fit-content;
}

input {
    margin-right: 10px;
}

lite-state {
    display: block;
    font-size: 13px;
    padding: 5px 30px;
    text-align: center;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgb(218, 34, 34, .2);
    transition: all 200ms;
    user-select: none;
    -webkit-user-select: none;
}

lite-state.enabled {
    background-color: rgb(0, 167, 8, .2);
}

lite-state.enabled:hover {
    cursor: pointer;
    background-color: rgb(218, 34, 34, .2);
}

lite-state:hover {
    cursor: pointer;
    background-color: rgb(0, 167, 8, .2);
}

lite-state:active {
    background-color: #1d2328;
    transition: all 20ms;
}

lite-tabs {
    display: block;
    font-family: roboto_medium, Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    text-align: center;
    font-size: 13px;
}

lite-tab {
    display: block;
    color: rgba(44, 117, 141, 0.5);
    border-radius: 5px;
    padding: 7.5px 20px;
    border: none;
    position: relative;
    overflow: hidden;
    width: 160px;
    user-select: none;
    -webkit-user-select: none;
}

lite-tab:hover {
    background: rgba(0, 0, 0, .2);
    cursor: pointer
}

lite-tab.notification:after {
    content: " New!";
    font-family: monospace;
    color: #da2222;
}

lite-content {
    display: block;
    padding: 5px;
    font-size: 13px;
    font-family: roboto_medium, Arial, Helvetica, sans-serif;
}

lite-tab.disabled, lite-option.disabled {
    opacity: .4;
    pointer-events: none;
}

lite-option, lite-container button {
    display: block;
    padding: 8px;
    border: none;
    color: #1b5264;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    background-color: #ffffff00;
    user-select: none;
    -webkit-user-select: none;
}

lite-option:hover, lite-option:hover *, lite-container button:hover {
    background:rgba(0, 0, 0, .2);
    cursor: pointer;
}

lite-option input:not(.override-pointer-events):not(input[type='text']) {
    pointer-events: none;
    touch-action: none;
}

lite-option input[type="checkbox"] {
    transform: scale(.85) rotate(90deg);
    transition: all .2s;
}

lite-option input[type="checkbox"]:checked {
    transform: scale(1) rotate(0);
    transition: all .2s;
}

lite-option input[type="color"] {
    -webkit-appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0;
    width: 13px;
    height: 13px;
    background: #000000
}

lite-container {
    display: flex;
    justify-content: center;
    padding: 4px;
}

lite-container input, lite-container select {
    background-color: #232f38;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 1px 4px;
    width: 25%;
}

lite-container select {
    padding: 4px 0;
    width: fit-content;
}

lite-container#keymap lite-option:hover {
    background-color: rgb(218, 34, 34, .2);
}

.ripple::before {
    top: calc(var(--offsetY) * 1px);
	left: calc(var(--offsetX) * 1px);
    opacity: 0;
    content: "";
    padding: 50%;
	position: absolute;
    transform: translate(-50%, -50%) scale(3);
	transition: transform 800ms, opacity 1s;
    border-radius: 50%;
    pointer-events: none;
    background-color: black;
}

.ripple:not(.focus):active::before,
.ripple.focus:active:not(:focus-within)::before {
    transition: 0s;
    opacity: .5;
    transform: translate(-50%, -50%) scale(0);
}